/* Search home page */

*:focus {
  outline: none;
}

.nav-item {
  padding: 10px;
  font-size: 13px;
}

.nav-link {
  padding-top: 15px;
  color: #222;
}

.nav-tabs {
  border-bottom: none;
}

.search-buttons {
  padding: 25px;
}

.btn {
  color: #fff;
  background-color: #4387fd;
  font-weight: bold;
  max-height: 35px;
  border: 1px solid #4285f4;
  margin-top: 10px;
  border-radius: 2px;
  padding: 5px;
  font-size: 13px;
  align-self: auto;
}

.submit-button {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.submit-button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.languages {
  font-size: small;
  padding: 50px;
  border: 50px;
}

.img-fluid {
  width: 20%;
}

.container-fluid {
  padding-top: 150px;
}

.form-group {
  padding-left: 400px;
  padding-right: 400px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.container {
  padding: 100px;
  margin: 100px;
  border: 5px darkgray;
  border-radius: 10px;
}

/* Google image search */
.navbar {
  height: 60px;
}

.logo-home {
  width: 80px;
}

.google-image-logo {
  padding: 20px
}

/* google searchbar */

.search-bar {
  max-width: 600px;
  margin: auto;
  height: 40px;
  border: 1px solid darkgrey;
  border-radius: 24px;
}

.search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.form-control {
  display: flex;
  align-content: flex-start;
  border: none;
}

.form-control:focus,
.submit-button:focus {
  box-shadow: none;
}

.google-search-icon {
  padding-left: 16px;
}

.google-mic-icon {
  height: 24px;
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}