{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<nav class="nav nav-pills nav-fill">
    <span class="nav-item nav-link disabled">
        MegaMail Account -   {{ request.user.email }}
    </span>
    <a class="nav-item nav-link" id="inbox" href="#">Inbox</a>
    <a class="nav-item nav-link" id="compose" href="#">Compose</a>
    <a class="nav-item nav-link" id="sent" href="#">Sent</a>
    <a class="nav-item nav-link" id="archived" href="#">Archived</a>
    <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
</nav>
    <hr>
    <div id="view-error" class="alert alert-danger"></div>
    <div id="view-emails" class="list-group"></div>
    <div id="view-read">
        <div><h3>View Email</h3></div>
        <div class="container card card-body">
            <div class="row">
                <div class="col-sm-12"><strong>From: </strong><span id="sender" class="card-title"></span></div>
            </div>
            <div class="row">
                <div class="col-sm-12"><b>To:</b>
                    <span id="recipients" class="card-subtitle mb-2"></span></div>
            </div>
            <div class="row">
                <div class="col-sm-12"><strong>Subject: </strong><span id="subject"></span></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span class="badge badge-primary badge-pill" id="timestamp"></span>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-12"><p id="body" class="text"></p></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <button class="btn btn-sm btn-primary" id="read-reply" data-email="">Reply</button>
                        <button class="btn btn-sm btn-secondary ml-2" id="read-archive" data-email=""
                                data-archived=""></button>
                    </div>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
    </div>
    <div id="view-compose">
        <div id="compose-title"><h3>Compose New Email</h3></div>
        <form id="compose-form">
            <div class="form-group">
                <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                <strong>To: </strong><small>For multiple recipients  use commas after each email</small>
                <input id="form-recipients" class="form-control">
                <div class="invalid-feedback font-weight-bold" id="recipients-alert">Required
                </div>
            </div>
            <div class="form-group">
                <strong>Subject:</strong> <small>Subject line required</small>
                <input class="form-control" id="form-subject" maxlength="255">
            </div>
            <strong>Email Text:</strong> <small></small>
            <textarea class="form-control" id="form-body"></textarea>
            <input type="submit" class="btn btn-sm btn-primary my-2" value="SEND"/>
        </form>
        <p>&nbsp;</p>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}