{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry - {{title}}
{% endblock %}

{% block body %}
<h1>Edit {{ title }}</h1>
    <form method="POST" action="{% url 'edit' title %}">
        {% csrf_token %}
        <span style="font-size: 1em; font-weight: bolder;">Title</span>
        <br>
        <input name="title" Placeholder="{{ title }}"></input>
        <br></br>
        <span style="font-size: 1em; font-weight: bolder;">Content</span>
        <br>
        <textarea name="edit_content" style="width: 80%; height: 50vh;">{{ content }}</textarea>
        <br>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
{% endblock %}
